<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My HTML5 Page with Bootstrap</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Template.html My HTML5 Page with Bootstrap</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit commodo ex, euismod iaculis magna
            dictum quis. Donec aliquet odio vel dapibus accumsan. Vivamus rhoncus, magna at pharetra faucibus, lectus
            nulla blandit metus, in laoreet nibh nulla vitae est. Nunc laoreet rutrum blandit. Quisque varius dictum
            nunc a blandit.</p>
    </div>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>